<mat-card style="padding: 15px 15px 15px 15px;">
	<div class="row">
		<div class="col-3">
			<div mat-card-avatar [ngClass]="icon" style="border-radius:0px !important;">
			</div>
		</div>
		<div class="col-9">
			<div class="row" style="color: rgba(0,0,0,.54); font-weight:400;">
				<h4>{{titulo}}</h4>
			</div>
			<div class="row" style="font-weight:300;">
				<h2>{{cantidad}}</h2>
			</div>
		</div>
	</div>
	<div class="row" style="padding-left: 25px;">
		<mat-icon style="color:#4caf50;">trending_down</mat-icon>
		<b style="color:#4caf50;">+15%</b><span>&nbsp;que ayer</span>
	</div>
	<div class="row">
		<div class="col-12">
			<crm-chart width="2" height="1" [id]="id" [config]="this.chartWidget"></crm-chart>
		</div>
	</div>
	<div *ngIf="selectOptions.length > 0" class="row">
		<mat-select class="col" [value]="selectOptions[0].value" (selectionChange)="cambiarDeOpcion($event.value)">
			<mat-option *ngFor="let opcion of selectOptions" [value]="opcion.value">{{opcion.nombre}}</mat-option>
		</mat-select>
	</div>
</mat-card>
