<form [formGroup]="form">
    <div *ngFor="let contacto of contactos.controls; let i = index" formArrayName="contactos">
        <div class="row" [formGroupName]="i">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Telefono {{i+1}}</mat-label>
                    <input matInput formControlName="telefono" type="text" [readonly]="!inputEditable(i)">
                    <mat-error *ngIf="contacto.get('telefono').hasError('required')">El campo es requerido
                    </mat-error>
                    <mat-error *ngIf="contacto.get('telefono').hasError('pendienteGuardado')">Guarde para
                        continuar
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Inicio horario contacto</mat-label>
                    <input matInput formControlName="horaDesde" type="time" [readonly]="!inputEditable(i)">
                    <mat-error *ngIf="contacto.get('horaDesde').hasError('required')">El campo es requerido
                    </mat-error>
                    <mat-error *ngIf="contacto.get('horaDesde').hasError('pendienteGuardado')">Guarde para
                        continuar
                    </mat-error>
                    <mat-error *ngIf="contacto.hasError('horaDesdeMayorAHoraHasta')">El horario de
                        inicio debe ser previo al horario de fin
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Fin horario contacto</mat-label>
                    <input matInput formControlName="horaHasta" type="time" [readonly]="!inputEditable(i)">
                    <mat-error *ngIf="contacto.get('horaHasta').hasError('required')">El campo es requerido
                    </mat-error>
                    <mat-error *ngIf="contacto.get('horaHasta').hasError('pendienteGuardado')">Guarde para
                        continuar
                    </mat-error>
                    <mat-error *ngIf="contacto.hasError('horaDesdeMayorAHoraHasta')">El horario de
                        inicio debe ser previo al horario de fin
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <ng-container *ngIf="telefonosGuardados">
                    <button mat-mini-fab color="dafault" type="button" style="margin: 0 10px;"
                        (click)="seleccionarTelefonoParaEditar(i)" title="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" type="button" style="margin: 0 10px;"
                        [disabled]="contactos.controls.length === 1" (click)="borrarTelefono(i)" title="Borrar">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </ng-container>
                <ng-container *ngIf="indiceTelefonoEditandose === i">
                    <button mat-mini-fab color="dafault" type="button" style="margin: 0 10px;"
                        (click)="editarTelefono()" title="Guardar" [disabled]="!telefonoCompleto(i)">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-mini-fab color="dafault" type="button" style="margin: 0 10px;"
                        (click)="cancelarEdicion()" title="Cancelar">
                        <mat-icon>clear</mat-icon>
                    </button>
                </ng-container>
                <ng-container *ngIf="esUnTelefonoNuevo(i)">
                    <button mat-mini-fab color="dafault" type="button" style="margin: 0 10px;" (click)="crearTelefono()"
                        title="Guardar" [disabled]="!telefonoCompleto(i)">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-mini-fab color="dafault" type="button" style="margin: 0 10px;"
                        (click)="cancelarCreacion()" title="Cancelar">
                        <mat-icon>clear</mat-icon>
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <button mat-raised-button color="primary" type="button" (click)="agregarTelefono()"
            [disabled]="!telefonosGuardados">Agregar
            teléfono</button>
    </div>
</form>
