<h1 mat-dialog-title>Rellamar</h1>
<div mat-dialog-content>
	<mat-tab-group>
		<mat-tab label="Rechazo">
			<crm-formulario-rechazo (onSubmit)="this.rechazar.emit($event)"></crm-formulario-rechazo>
		</mat-tab>
		<mat-tab label="Agendar">
			<crm-formulario-agendar></crm-formulario-agendar>
		</mat-tab>
		<mat-tab label="Rellamar"><crm-formulario-agendar></crm-formulario-agendar>
		</mat-tab>
		<mat-tab label="Vender"><crm-formulario-vender></crm-formulario-vender>
		</mat-tab>
	</mat-tab-group>
</div>
