.general {
    height: auto;
}



.general-image {
    background-image: url('assets/media/profits.svg');
    background-size: cover;
  }

.vendedora-image {
    background-image: url('assets/media/vendedora.svg');
    background-size: cover;
  }