.image-ventas {
    background-image: url('assets/media/sales.svg');
    background-size: cover;
  }
.image-llamadas {
    background-image: url('assets/media/llamadas.svg');
    background-size: cover;
  }
.image-agendados {
    background-image: url('assets/media/agendados.svg');
    background-size: cover;
  }
.image-rechazos {
    background-image: url('assets/media/rechazos.svg');
    background-size: cover;
  }