<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (submit)="vender()" *ngIf="form">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                        <mat-error *ngIf="nombre.invalid">El campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="apellido">
                        <mat-error *ngIf="apellido.invalid">El campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Pais de origen</mat-label>
                        <mat-select formControlName="nacionalidad">
                            <mat-option value="ARGENTINA">Argentina</mat-option>
                            <mat-option value="BOLIVIA">Bolivia</mat-option>
                            <mat-option value="BRASIL">Brasil</mat-option>
                            <mat-option value="CHILE">Chile</mat-option>
                            <mat-option value="COLOMBIA">Colombia</mat-option>
                            <mat-option value="PERU">Peru</mat-option>
                            <mat-option value="URUGUAY">Uruguay</mat-option>
                            <mat-option value="VENEZUELA">Venezuela</mat-option>
                            <mat-option value="PARAGUAY">Paraguay</mat-option>
                        </mat-select>
                        <mat-error *ngIf="nacionalidad.invalid">El campo es requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <div class="row">
                        <div class="col-auto">Sexo:</div>
                        <div class="col">
                            <mat-radio-group aria-label="Select an option" formControlName="sexo">
                                <mat-radio-button value="M">M</mat-radio-button>
                                <mat-radio-button value="F">F</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Estado civil</mat-label>
                        <mat-select formControlName="estadoCivil">
                            <mat-option value="SOLTERO">Soltero</mat-option>
                            <mat-option value="CASADO">Casado</mat-option>
                            <mat-option value="CONCUBINATO">Concubinato</mat-option>
                            <mat-option value="DIVORSIADO">Divorsiado</mat-option>
                            <mat-option value="VIUDO">Viudo</mat-option>
                        </mat-select>
                        <mat-error *ngIf="estadoCivil.invalid">El campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha nacimiento</mat-label>
                        <input type="date" matInput formControlName="fechaNacimiento" [max]="fechaHoy()">
                        <mat-error *ngIf="fechaNacimiento.invalid">El campo es requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Cuil</mat-label>
                        <input type="number" matInput formControlName="cuil">
                        <mat-error *ngIf="cuil.hasError('required')">El campo es requerido</mat-error>
                        <mat-error *ngIf="cuil.hasError('min') || cuil.hasError('max') ">El campo debe tener 11 digitos
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Capitas</mat-label>
                        <input matInput formControlName="capitas">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Calle</mat-label>
                        <input matInput formControlName="calle">
                        <mat-error *ngIf="calle.invalid">El campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Numero</mat-label>
                        <input type="number" matInput formControlName="numero">
                        <mat-error *ngIf="numero.invalid">El campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Localidad</mat-label>
                        <mat-select formControlName="localidad">
                            <mat-option *ngFor="let localidad of localidades" [value]="localidad.id">
                                {{localidad.nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="localidad.invalid">El campo es requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Piso</mat-label>
                        <input matInput formControlName="piso">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Departamento</mat-label>
                        <input matInput formControlName="departamento">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Codigo postal</mat-label>
                        <input matInput formControlName="codigoPostal">
                        <mat-error *ngIf="codigoPostal.invalid">El campo es requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div style="padding: 30px">

                <div class="row">
                    <div class="col">
                        <h3>Telefonos</h3>
                    </div>
                </div>
                <div *ngFor="let contacto of telefonos.controls; let i = index" formArrayName="telefonos">
                    <div class="row" [formGroupName]="i">
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Telefono {{i+1}}</mat-label>
                                <input matInput formControlName="telefono" type="text" [readonly]="!inputEditable(i)">
                                <mat-error>El campo es requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Inicio horario contacto</mat-label>
                                <input matInput formControlName="horaDesde" type="time" [readonly]="!inputEditable(i)">
                                <mat-error>El campo es requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Fin horario contacto</mat-label>
                                <input matInput formControlName="horaHasta" type="time" [readonly]="!inputEditable(i)">
                                <mat-error>El campo es requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <ng-container *ngIf="telefonosGuardados">
                                <button mat-mini-fab color="dafault" type="button" style="margin: 0 10px;"
                                    (click)="seleccionarTelefonoParaEditar(i)" title="Editar">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-mini-fab color="warn" type="button" style="margin: 0 10px;"
                                    (click)="borrarTelefono(i)" title="Borrar">
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="indiceTelefonoEditandose === i">
                                <button mat-mini-fab color="dafault" type="button" style="margin: 0 10px;"
                                    (click)="editarTelefono()" title="Guardar">
                                    <mat-icon>save</mat-icon>
                                </button>
                                <button mat-mini-fab color="dafault" type="button" style="margin: 0 10px;"
                                    (click)="cancelarEdicion()" title="Cancelar">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="esUnTelefonoNuevo(i)">
                                <button mat-mini-fab color="dafault" type="button" style="margin: 0 10px;"
                                    (click)="crearTelefono()" title="Guardar">
                                    <mat-icon>save</mat-icon>
                                </button>
                                <button mat-mini-fab color="dafault" type="button" style="margin: 0 10px;"
                                    (click)="cancelarCreacion()" title="Cancelar">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <button mat-raised-button color="primary" type="button" (click)="agregarTelefono()"
                        [disabled]="!telefonosGuardados">Agregar
                        teléfono</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Vender</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
