<form [formGroup]="form" (submit)="rechazar()">
    <mat-form-field appearance="outline">
        <mat-label>Observacion</mat-label>
        <mat-select formControlName="observacion">
            <mat-option *ngFor="let observacion of observaciones" [value]="observacion">
                {{observacion}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.get('observacion').invalid">El campo es requerido</mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-end">
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Enviar</button>
    </div>
</form>
