<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <mat-card style="height: auto;" class="row justify-content-start" [style.margin-bottom]="'10px'">
                <mat-card-header class=" align-items-start">
                    <div class="col-1">
                        <div mat-card-avatar class="general-image" style="border-radius:0px !important;"></div>
                    </div>
                    <div class="col">
                        <mat-card-title>General</mat-card-title>
                        <mat-card-subtitle>Estadisticas generales</mat-card-subtitle>
                    </div>
                    <mat-select class="col-2 align-end" value="dia" (selectionChange)="cambiarGeneral($event.value)">
                        <mat-option value="dia">Día</mat-option>
                        <mat-option value="mes">Mes</mat-option>
                    </mat-select>
                </mat-card-header>
                <mat-card-content>
                    <crm-chart height="300px" id="general" [config]="supervisorChart"></crm-chart>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-4 align-self-center" style="margin-bottom: 10px">
            <crm-widget titulo="Rechazos" icon="image-rechazos" id="widgetRechazos" [selectOptions]="opcionesPosibles"
                [data]="dashboardData.value?.rechazos"></crm-widget>
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <crm-widget titulo="Ventas" icon="image-ventas" id="widgetVentas" [data]="ventas"></crm-widget>
        </div>
        <div class="col-4">
            <crm-widget titulo="Rellamados" cantidad="200" icon="image-llamadas" id="widgetRellamados"
                [data]="rellamados"></crm-widget>
        </div>
        <div class="col-4">
            <crm-widget titulo="Agendados" cantidad="350" icon="image-agendados" id="widgetAgendados"
                [data]="agendados"></crm-widget>
        </div>

    </div>

    <div class="row justify-content-start">
        <mat-card style="height: 500px;" class="col-9" [style.margin-top]="'10px'">
            <mat-card-header class="row align-items-start">
                <div class="col-1">
                    <div mat-card-avatar class="vendedora-image" style="border-radius:0px !important;"></div>
                </div>
                <div class="col">
                    <mat-card-title id="titulo">Vendedoras</mat-card-title>
                    <mat-card-subtitle id="subtitulo">Estadísticas por vendedora</mat-card-subtitle>
                </div>

                <div class="col-2 align-end">
                    <mat-select *ngIf="showBackButton == false" class="row" value="hoy"
                        (selectionChange)="cambiarVendedoras($event.value)">
                        <mat-option value="hoy">Hoy</mat-option>
                        <mat-option value="ultimaSemana">Últimos 7 días</mat-option>
                        <mat-option value="ultimoMes">Últimos 30 días</mat-option>
                        <mat-option value="ultimos3Meses">Últimos 3 meses</mat-option>
                        <mat-option value="ultimos6Meses">Últimos 6 meses</mat-option>
                    </mat-select>

                    <mat-select *ngIf="showBackButton == true" class="row" value="dia"
                        (selectionChange)="cambiarVendedoras($event.value)">
                        <mat-option value="dia">Dia</mat-option>
                        <mat-option value="mes">Mes</mat-option>
                    </mat-select>
                    <div class="row justify-content-end">
                        <button *ngIf="showBackButton == true" mat-icon-button color="primary" class="col-3"
                            (click)="backButton()">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <crm-chart id="vendedoras" [config]="this.vendedorasChart" height="300px">
                        </crm-chart>
                    </div>

                </div>


            </mat-card-content>
        </mat-card>
    </div>

</div>
