.card{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
}

.disabled{
    background-color: #80808017;
    
}

.disabled img {
    cursor: auto
}
img{
    height: 35px; 
    cursor: pointer
}
