:host {
	height: 100%;
	margin: 0;
}

.spinner-overlay{
	min-width: 100vw; 
	min-height: 100vh;
}

.spinner{
	width: 100vw; 
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	opacity: 80%;
	z-index: 2;
	pointer-events: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}