:host {
	height: 100%;
	margin: 0;
}



.spinner{
	width: 100vw; 
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: white;
	opacity: 80%;
	z-index: 1001!important;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.disable-click{
	pointer-events: none;
}