<form [formGroup]="form">
    <div *ngFor="let contacto of contactos.controls; let i = index" formArrayName="contactos">
        <div class="row" [formGroupName]="i">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Telefono {{i+1}}</mat-label>
                    <input matInput formControlName="telefono" type="text">
                    <mat-error *ngIf="contacto.get('telefono').hasError('required')">El campo es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Inicio horario contacto</mat-label>
                    <input matInput formControlName="horaDesde" type="time" [errorStateMatcher]="groupErrorMatcher">
                    <mat-error *ngIf="contacto.hasError('horaDesdeMayorAHoraHasta')">
                        El horario de inicio debe ser previo al horario de fin
                    </mat-error>
                    <mat-error *ngIf="contacto.get('horaDesde').hasError('required')">
                        El campo es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Fin horario contacto</mat-label>
                    <input matInput formControlName="horaHasta" type="time">
                    <mat-error *ngIf="contacto.get('horaHasta').hasError('required')">
                        El campo es requerido
                    </mat-error>
                    <mat-error *ngIf="contacto.hasError('horaDesdeMayorAHoraHasta')">
                        El horario de inicio debe ser previo al horario de fin
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <button mat-mini-fab color="warn" type="button" style="margin: 0 10px;" (click)="borrarTelefono(i)"
                    [disabled]="contactos.controls.length === 1" title="Borrar">
                    <mat-icon>delete_forever</mat-icon>
                </button>

            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <button mat-raised-button color="primary" type="button" (click)="agregarTelefono()">Agregar
            teléfono</button>
    </div>
</form>
