<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <mat-card style="height: auto;" class="row justify-content-start" [style.margin-bottom]="'10px'">
                <mat-card-header class=" align-items-start">
                    <div class="col-1">
                        <div mat-card-avatar class="general-image" style="border-radius:0px !important;"></div>
                    </div>
                    <div class="col">
                        <mat-card-title>General</mat-card-title>
                        <mat-card-subtitle>Estadisticas generales</mat-card-subtitle>
                    </div>
                    <mat-select class="col-2 align-end" value="dia" (selectionChange)="cambiarGeneral($event.value)">
                        <mat-option value="dia">Día</mat-option>
                        <mat-option value="mes">Mes</mat-option>
                    </mat-select>
                </mat-card-header>
                <mat-card-content>
                    <crm-chart height="300px" id="general" [config]="supervisorChart"></crm-chart>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-4 align-self-center" style="margin-bottom: 10px">
            <crm-widget titulo="Rechazos" icon="image-rechazos" id="widgetRechazos" [opciones]="periodosRechazo"
                [data]="rechazos" (opcionSeleccionada)="cambiarPeriodoRechazo($event)" tipo="doughnut">
            </crm-widget>
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <crm-widget titulo="Ventas" icon="image-ventas" id="widgetVentas" [data]="ventas"></crm-widget>
        </div>
        <div class="col-4">
            <crm-widget titulo="Rellamados" cantidad="200" icon="image-llamadas" id="widgetRellamados"
                [data]="rellamados"></crm-widget>
        </div>
        <div class="col-4">
            <crm-widget titulo="Agendados" cantidad="350" icon="image-agendados" id="widgetAgendados"
                [data]="agendados"></crm-widget>
        </div>

    </div>

    <div class="row justify-content-start">
        <mat-card style="height: 500px;" class="col-12" [style.margin-top]="'10px'">
            <mat-card-header class="row align-items-start">
                <div class="col-1">
                    <div mat-card-avatar class="vendedora-image" style="border-radius:0px !important;"></div>
                </div>
                <div class="col">
                    <mat-card-title id="titulo">Vendedoras</mat-card-title>
                    <mat-card-subtitle id="subtitulo">Estadísticas por vendedora</mat-card-subtitle>
                </div>

                <div class="col-2 align-end">
                    <mat-select class="row" value="hoy" (selectionChange)="cambiarPeriodoVendedoras($event.value)">
                        <mat-option value="hoy">Hoy</mat-option>
                        <mat-option value="ultimaSemana">Últimos 7 días</mat-option>
                        <mat-option value="ultimoMes">Últimos 30 días</mat-option>
                        <mat-option value="ultimos3Meses">Últimos 3 meses</mat-option>
                        <mat-option value="ultimos6Meses">Últimos 6 meses</mat-option>
                    </mat-select>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-12">
                        <crm-chart id="vendedoras" [config]="vendedorasChart" height="300px">
                        </crm-chart>
                    </div>
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <span>Analizar vendedora:</span>
                            </div>
                            <div class="col">
                                <mat-form-field>
                                    <input type="text" matInput [formControl]="vendedoraCtrl" [matAutocomplete]="auto">
                                </mat-form-field>

                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let vendedora of vendedorasFiltradas | async"
                                        [value]="vendedora.nombre">
                                        {{vendedora.nombre}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                            <div class="col-auto">
                                <button mat-icon-button color="primary" [disabled]="vendedoraCtrl.invalid"
                                    (click)="redireccionarAVendedora()">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </mat-card-content>
        </mat-card>
    </div>
    <div class="row justify-content-start">
        <div class="col-12">
            <mat-card style="height: auto;" class="row justify-content-start" [style.margin-bottom]="'10px'">
                <mat-card-header class=" align-items-start">
                    <div class="col-1">
                        <div mat-card-avatar class="general-image" style="border-radius:0px !important;"></div>
                    </div>
                    <div class="col">
                        <mat-card-title>Bases</mat-card-title>
                        <mat-card-subtitle>Estadisticas por base</mat-card-subtitle>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <crm-chart height="1500px" id="general" [config]="basesChart"></crm-chart>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>
