<crm-formulario-venta-persona></crm-formulario-venta-persona>
<form [formGroup]="formObraSocial">
	<div class="row">
		<div class="col">
			<mat-form-field appearance="outline">
				<mat-label>Obra social</mat-label>
				<mat-select formControlName="obraSocial">
					<mat-option *ngFor="let obraSocial of obrasSociales" [value]="obraSocial.id">
						{{obraSocial.nombre}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="obraSocialCtrl.invalid">El campo es requerido</mat-error>
			</mat-form-field>
		</div>
	</div>
</form>
<mat-divider></mat-divider>
<div class="p-4">
	<div class="row">
		<div class="col">
			<h3>Telefonos</h3>
		</div>
		<crm-formulario-abm-telefonos [contacto]="contacto"></crm-formulario-abm-telefonos>
	</div>
</div>

<div class="row">
	<div class="col">
		<button mat-raised-button color="accent" type="button" (click)="vender()">Vender</button>
	</div>
</div>
