<mat-card class="container" style="padding: 15px 15px 15px 15px;">
    <div class="row">
        <div class="col-3">
            <div *ngIf="titulo == 'Ventas'" mat-card-avatar class="image-ventas" style="border-radius:0px !important;">
            </div>
            <div *ngIf="titulo == 'Rellamados'" mat-card-avatar class="image-llamadas"
                style="border-radius:0px !important;"></div>
            <div *ngIf="titulo == 'Agendados'" mat-card-avatar class="image-agendados"
                style="border-radius:0px !important;"></div>
            <div *ngIf="titulo == 'Rechazos'" mat-card-avatar class="image-rechazos"
                style="border-radius:0px !important;"></div>
        </div>
        <div class="col-9">
            <div class="row" style="color: rgba(0,0,0,.54); font-weight:400;">
                <h4>{{titulo}}</h4>
            </div>
            <div class="row" style="font-weight:300;">
                <h2>590</h2>
            </div>
        </div>
    </div>
    <div *ngIf="titulo != 'Rechazos'" class="row" style="padding-left: 25px;">
        <mat-icon style="color:#4caf50;">trending_up</mat-icon>
        <b style="color:#4caf50;">+15%</b><span>&nbsp;que ayer</span>
    </div>
    <div class="row">
        <div *ngIf="titulo == 'Ventas'" class="col-12">
            <crm-chart width="2" height="1" [config]="this.ventasWidget"></crm-chart>
        </div>
        <div *ngIf="titulo == 'Rellamados'" class="col-12">
            <crm-chart width="2" height="1" [config]="this.rellamadosWidget"></crm-chart>
        </div>
        <div *ngIf="titulo == 'Agendados'" class="col-12">
            <crm-chart width="2" height="1" [config]="this.agendadosWidget"></crm-chart>
        </div>
        <div *ngIf="titulo == 'Rechazos'" class="col-12">
            <crm-chart width="2" height="1" [config]="this.rechazosWidget"></crm-chart>
        </div>
    </div>
    <div *ngIf="titulo == 'Rechazos'" class="row">
        <mat-select class="col" value="hoy" (selectionChange)="cambiarRechazos($event.value)">
            <mat-option value="hoy">Hoy</mat-option>
            <mat-option value="7dias">Últimos 7 días</mat-option>
            <mat-option value="30dias">Últimos 30 días</mat-option>
            <mat-option value="3meses">Últimos 3 meses</mat-option>
            <mat-option value="6meses">Últimos 6 meses</mat-option>
        </mat-select>
    </div>
</mat-card>